@using MvcStok.Models.Entity
@model List<TBLKATEGORILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    <tbody>
        @foreach (var ktgr in Model)
        {
            <tr>
                <td>@ktgr.KATEGORYID</td>
                <td>@ktgr.KATEGORIAD</td>
                <td><a href="/Category/SIL/@ktgr.KATEGORYID" class="btn btn-danger">SİL</a></td>
                <td><a href="/Category/GUNCELLE/@ktgr.KATEGORYID" class="btn btn-success">GÜNCELLE</a></td>

            </tr>
        }
    </tbody>
</table>
<a href="/Category/Yenikategori/" class="btn btn-primary">YENİ KATEGORİ EKLE</a>


